<h1><i>All users photos </i></h1>


<% @pictures.each do |picture| %>
    <%= link_to picture_path(picture) do %>
        <%= image_tag picture.img_url%>
        <%#need to sort by most recent%>
    <%end%>
<%end%>